html{
  box-sizing: border-box;
  font-family: "Overpass Mono";
}

*, *::after, *::before{
  margin: 0;
}

.slider-container{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector{
  margin-bottom: 25px;
}

.slider{
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.window{
  height: 100%;
  overflow: hidden;
}

.all-cards-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  transition: translate;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.all-cards-container:first-child{
  margin-left: 0;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  
}

.card-content{
  width: 170px;
  
}

.card-content__email{
  word-wrap: break-word;
  text-decoration: none;
  color: rgb(21, 156, 156);
}

.card-content__email:hover{
  color: rgb(23, 197, 197);
} 

.card__img-cont{
  display: flex;
  
}

.card__img{
  z-index: -1;
  height: 170px;
  width: 170px;
}

.button{
  width: 50px;
  height: 48px;
  margin: 0 10px;
}

.button_right{
  margin-right: 10px;
}

.button_left{
  margin-left: 10px;
}

.button:hover{
  color: rgb(121, 121, 121);
  border-radius: 100px;
}

.custom-select{
  background: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 5px 5px 5px 15px;
  cursor: pointer;
  border: none;
  justify-content: center;
}

.custom-select:hover{
  color: white;
  background: black;
}

.custom-select > option{
  background: rgb(230, 230, 230);
  color: black;
  border: none;
}
